<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Pariabel | IT Solution</title>
<meta name="description" content="" />
<meta name="keywords" content="" />

<!-- Favicon -->
<link rel="icon" type="image/png" href="./assets/logo-icon.png">

<!-- Root -->
<link rel="stylesheet" href="./assets/master.css">

</head>
<body>

	<section style="background-image: url('./assets/bg.jpg');">
		<div class="box-table">
			<div class="display-table">
				<div class="display-table-cell">
					<div class="box-content">
						<div class="left-content">
							<img src="./assets/logo-blue.png">
							
							<h1>
								404
							</h1>
							<div class="desc-content">
								Sorry Guys ! <br /> The page you are referring to cannot be found
							</div>
						</div>
						<div class="right-content">
							<img src="./assets/icon-startup.png">
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

</body>
</html> 