<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Pariabel | IT Consultant</title>
<meta name="description" content="We are IT consultant. Our focus is to provide technology solutions for your needs.
With us everything is easier." />
<meta name="keywords" content="Pariabeldotcom, Pariabel, IT Solution, Digital Studio, Web Development, Mobile App, Custom Software, Internet Of Things" />
<!-- Favicon -->
<link rel="icon" type="image/png" href="./assets/images/logo-icon.png">

<!-- Bootstrap -->
<link rel="stylesheet" href="./assets/lib/bootstrap/css/bootstrap.css">

<!-- Fontawesome -->
<link rel="stylesheet" href="./assets/lib/fontawesome/css/all.css">

<!-- Scroll -->
<link rel="stylesheet" src="./assets/lib/scroll/style.css">

<!-- Root -->
<link rel="stylesheet" href="./assets/css/master.css">

</head>
<body>
<!-- Header -->
<header>
	<div class="container">
		<div class="box-header">
			<div class="left-header">
				<div class="box-table">
					<div class="display-table">
						<div class="display-table-cell">
							<div class="box-logo">
								<img src="./assets/images/img-logo.png">
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="right-header">
				<div class="box-table">
					<div class="display-table">
						<div class="display-table-cell">
							<div class="box-content-navigation">
								<button class="bar-menu actBoxMenu">
									<div class="list-bar-menu"></div>
									<div class="list-bar-menu"></div>
									<div class="list-bar-menu"></div>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="clearer"></div>
		</div>
	</div>
</header>

<!-- Slide Menu -->
<div class="box-menu-overlay">
	<div class="modal-overlay-menu actCloseMenu"></div>
    <div class="box-menus bg-blue">
    	<div class="box-close actCloseMenu">
    		<i class="fas fa-times"></i>
		</div>
    	<div class="box-table">
			<div class="display-table">
				<div class="display-table-cell">
			    	<div class="content-menus link">
			    		<a href="#section1">Home</a>
			    		<a href="#section2">Services</a>
			    		<a href="#section3">Our Team</a>
			    		<a href="#section4">Connect With Us</a>
			    	</div>
			    </div>
			</div>
		</div>
   	</div>
</div>


<nav id="cd-vertical-nav">
	<ul>
		<li>
			<a href="#section1" data-number="1">
				<span class="cd-dot"></span>
			</a>
		</li>
		<li>
			<a href="#section2" data-number="2">
				<span class="cd-dot"></span>
			</a>
		</li>
		<li>
			<a href="#section3" data-number="3">
				<span class="cd-dot"></span>
			</a>
		</li>
		<li>
			<a href="#section4" data-number="4">
				<span class="cd-dot"></span>
			</a>
		</li>
	</ul>
</nav>

<!-- Home -->
<section class="cd-section bg-img" style="background-image: url('./assets/images/img-home.png');" id="section1" data-width="1024" data-height="768">
	<div class="overlay-img-blue"></div>
	<div class="container">
		<div class="box-content">
			<div class="box-table">
				<div class="display-table">
					<div class="display-table-cell">
						
						<div class="box-introduction">
							<h1>
								Technolgy, Creative and Impact
							</h1>
							<div class="desc-introduction">
								We are IT consultant. Our focus is to provide technology solutions for your needs.  <span> With us everything is easier. </span>
							</div>
							<img src="./assets/images/img-startup.png">
						</div>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Services -->
<section class="bg-blue cd-section" id="section2">
	<div class="container">
		<div class="box-content-services">
			<div class="box-table">
				<div class="display-table">
					<div class="display-table-cell">
						<div class="box-services">
							<div class="box-page">
								<small>Services</small>
								<h2>We are Very Happy To Help You </h2>
							</div>
							<div class="list-services">
								<img src="./assets/images/icon-dev.png">
								<h3>
									Development
								</h3>
								<div class="desc-services">
									Creating Websites, Mobile Apps and software development based on user requests
								</div>
							</div>
							<div class="list-services">
								<img src="./assets/images/icon-design.png">
								<h3>
									UI/UX Designer
								</h3>
								<div class="desc-services">
									Designing digital product interface to have value from both the user and the business side
								</div>
							</div>
							<div class="list-services">
								<img src="./assets/images/icon-iot.png">
								<h3>
									IOT (internet of things)
								</h3>
								<div class="desc-services">
									Internet connectivity solution that can be connected to a device that makes your activities easier
								</div>
							</div>
							<div class="clearer"></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
</section>

<!-- Team -->
<section class="bg-silver cd-section" id="section3">
	<div class="container">
		<div class="box-content-team">
			<div class="box-table">
				<div class="display-table">
					<div class="display-table-cell">
						<div class="box-team">
							<div class="left-team">
								<div class="box-page clr-black">
									<small>Team</small>
									<h2>
										We have experienced team of IT experts face complex business challenges with confidence.
									</h2>
								</div>
							</div>
							<div class="right-team">
								<div class="list-team">
									<div class="img-team">
										<img src="./assets/images/img-edwin.png">
									</div>
									<div class="info-team">
										<div class="arrow-up"></div>
										<div class="box-table">
											<div class="display-table">
												<div class="display-table-cell">
													<div class="desc-team">
														<h3>Edwin  <br /> Warming Gunawan</h3>
														<small>CTO</small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="list-team">
									<div class="info-team">
										<div class="arrow-down"></div>
										<div class="box-table">
											<div class="display-table">
												<div class="display-table-cell">
													<div class="desc-team">
														<h3>Kemas <br /> Heri kurniawan</h3>
														<small>Business Analyst</small>
													</div>
												</div>
											</div>
										</div>
									</div>
									<div class="img-team">
										<img src="./assets/images/img-kemas.png">
									</div>
								</div>
								<div class="list-team">
									<div class="img-team">
										<img src="./assets/images/img-andri.png">
									</div>
									<div class="info-team">
										<div class="arrow-up"></div>
										<div class="box-table">
											<div class="display-table">
												<div class="display-table-cell">
													<div class="desc-team">
														<h3>Andriana</h3>
														<small>Creative Head</small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="list-team">
									<div class="img-team">
										<img src="./assets/images/img-udin.jpeg">
									</div>
									<div class="info-team">
										<div class="arrow-up"></div>
										<div class="box-table">
											<div class="display-table">
												<div class="display-table-cell">
													<div class="desc-team">
														<h3>Bahrudin</h3>
														<small>Marketing</small>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								
								<div class="clearer"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>		
</section>


<!-- Contact Us -->
<section class="bg-black cd-section" id="section4">
	<div class="container">
		<div class="box-content-contact">
			<div class="box-table">
				<div class="display-table">
					<div class="display-table-cell">
						<div class="box-contact">
							<div class="box-page clr-white">
								<div class="text-center">
									<small>Connect With Us</small>
								</div>
							</div>
							<div class="box-connect">
								<div class="left-connect">
									<img src="./assets/images/img-logo.png">
								</div>
								<div class="right-connect">
									<h3>OFFICE</h3>
									<p>
										Puri Nirwana 1 <br />
										Jl. Kalasan Blok Y No. 10 Pabuaran <br />
										Cibinong - Bogor <br />
										Indonesia 
									</p>
									<p>
										T : 0858 - 9581 - 0666 <br />
										E : contact@pariabel.com
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- Footer -->
<footer class="bg-black">
	<div class="container">
		<div class="box-footer">
			<i class="far fa-copyright"></i> 2020 Pariabel.com
			<div class="back-top link">
				<a href="#section1">
					<i class="fas fa-chevron-up"></i>
				</a>
			</div>
		</div>
	</div>
</footer>


<!-- Jquery -->
<script type="text/javascript" src="./assets/js/jquery.min.js"></script>
<script type="text/javascript" src="./assets/lib/scroll/modernizr.js"></script>
<script type="text/javascript" src="./assets/lib/scroll/main.js"></script>
<script type="text/javascript" src="./assets/lib/parallax/parallax.js"></script>
<script type="text/javascript" src="./assets/js/master.js"></script>

</body>
</html> 